/* Define default styles for content */
.content {
    font-family: "Nunito, sans-serif";
    text-align: center;
    /* Center-align the text by default */
}

.aboutDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}

.iconDiv {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Media Queries for responsive design */
@media (min-width: 576px) {
    .aboutDiv {
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
    }

    .content {
        font-size: 15px;
    }
}

@media (min-width: 768px) {
    .content {
        font-size: 1.5vw;
    }
}

@media (min-width: 1024px) {
    .content {
        font-size: 1.8vw;
    }
}