 @media (min-width: 576px) {
      .footer {
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: left;
      }
  }

.footer {
    width: 100%;
}