/* Center container and ensure proper spacing */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

/* Style individual skill boxes */
.skillsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

/* Hover effect for better UX */
.skillsDiv:hover {
    transform: scale(1.1);
}

/* Icon styling */
.iconContainer {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.649);
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.iconContainer:hover {
    background-color: rgba(255, 255, 255, 0.921);
}

/* Adjust icon size */
.icon {
    
    max-width: 60px;
    height: auto;
}

/* Ensure text is visible based on theme */
.skillName {
    font-weight: 500;
    font-size: 0.8rem;
    color: #EDEADE;
    margin-top: 10px;
}

/* Responsive adjustments */
@media (max-width: 575px) {
    .skillsDiv {
        flex-direction: column;
        /* Ensure column layout on mobile */
        justify-content: center;
        align-items: center;
    }

    .icon {
        max-width: 50px;
        /* Adjust icon size on mobile */
    }

    .skillName {
        font-size: 0.9rem;
        /* Adjust text size on mobile */
        margin-top: 8px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .icon {
        max-width: 70px;
    }

    .skillName {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .icon {
        max-width: 80px;
    }

    .skillName {
        font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    .icon {
        max-width: 90px;
    }

    .skillName {
        font-size: 1.2rem;
    }
}