/* App.css */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* Ensure padding and border do not affect width and height */
    margin: 0;
    /* Remove all margins */
    padding: 0;
    /* Remove all padding */
}

